.side-nav{
    width:270px;
    height: 860px;
    position: absolute;
    top:0px;
    z-index: 1;
    left:0px;
    background-color: white;
    text-align: left;
    padding-top: 20px;
    border: 0.5px solid #c7cad1; 
}

.intro{
    text-align: center;
    display: flex;
    flex-direction: row;
}

.side-nav>span{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    margin-left:10px;
}

.navLeft-icon{
    margin-left:15px;
    margin-right:10px;
    line-height: 25px;
}